@using ASPNETAreas.Areas.AreaExample1.Models
@model HomeModel

@* This is usually included with a _ViewImports.cshtml *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Title</h1>
<div>@Model.Message</div>

<form asp-controller="Home" asp-action="Form" method="post">
    <div>
        <input asp-for="FormData.Name" placeholder="Name" />
    </div>

    <div>
        <input asp-for="FormData.Email" placeholder="Email" />
    </div>

    <input type="submit" value="Submit" />
</form>